<configuration>
 <appSettings>
  <add key="ServerIP" value="localhost" />
  <add key="ServerPort" value="50201" />
  <add key="UserId" value="" />
  <add key="AccessToken" value="" />
  <add key="BaseRepository" value="" />
  <add key="WasanbonRepository" value="" />
 </appSettings>
</configuration>
